* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; 
    background-color: #f4f4f4; 
}

header {
    background-color: #800000;
    height: 8rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: white;
    font-family: "Rubik", sans-serif;
    margin-bottom: 2rem;
    border-radius: 20px;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    
    
}

main {
    padding: 2rem; 
}

.primeira {
    display: flex; 
    flex-direction: row; /* Alinha os elementos em linha */
    justify-content: space-between; /* Cria espaço entre o texto e a imagem */
    align-items: center; 
    display: flex;
    margin-bottom: 2rem; 
    max-width: 100%; /* Aumenta a largura máxima do contêiner de texto */
    background-color: #ecf0f1;
    height: 25rem; 
    margin-top: 3rem; 
    padding: 1rem; 
    width: auto;
    border-radius: 20px;
}

.primeira p {
    max-width: 50rem; /* Aumenta a largura máxima do texto */
    text-align: right; /* Alinha o texto à esquerda */
    line-height: 1.6; /* Aumenta a altura da linha para melhor legibilidade */
    font-size: 1.1rem; /* Aumenta o tamanho da fonte para maior destaque */
    text-align: justify;
}

.primeira img {
    width: 20rem; 
    height: auto; 
    border-radius: 10px;
}

.segunda {
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    background-color: #ecf0f1;
    height: 25rem; 
    margin-top: 3rem; 
    padding: 1rem; 
    border-radius: 20px;
    justify-content: space-between;
    text-align: justify;
}

.segunda img {
    width: 20rem; 
    height: 15rem; 
    margin: 2rem; 
    border-radius: 10px;
}

.segunda p {
    max-width: 50rem; 
    font-size: 1.1rem; 
    letter-spacing: 0.5px;

}

.terceira {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    margin-top: 2rem;
    justify-content: center; 
    background-color: #ecf0f1;
    height: 25rem; 
    margin-top: 3rem; 
}

.terceira img {
    width: 20rem; 
    height: 15rem;
    border-radius: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
   
}
