
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; 
    background-color: #f4f4f4; 
}

header {
    background-color: #800000;
    height: 8rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: white;
    font-family: "Rubik", sans-serif;
    margin-bottom: 2rem;
}

main {
    padding: 2rem; 
}

.primeira {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    margin-bottom: 2rem; 
}

.primeira p {
    max-width: 30rem; 
    text-align: center; 
    margin-bottom: 3rem; 
}

.primeira img {
    width: 20rem; 
    height: auto; 
}

.segunda {
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    background-color: #ecf0f1;
    height: 25rem; 
    margin-top: 3rem; 
    padding: 1rem; 
}

.segunda img {
    width: 20rem; 
    height: 15rem; 
    margin: 2rem; 
}

.segunda p {
    max-width: 20rem; 
}

.terceira {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-top: 2rem; 
}

.terceira img {
    width: 20rem; 
    height: 15rem; 
    margin-bottom: 1rem; 
}
